#dropzoneForm{
    width: 80%;
    margin: 20px auto;
    cursor: cell;
}
#dropzoneForm div{
    cursor: cell;
}
#dropzoneForm .dz-filename span, #dropzoneForm .dz-error-message span{
    font-size: 12px;
}
#dropzoneForm span{
    font-size: 25px;
    text-align: center;
    content: 'Przesuń pliki tutaj aby załadować na serwer';
}
.dropzone{
    border: 2px dashed #ccc;
    background-color: #333;
}
.btn-group{
    width: 80%;
    margin: 20px auto 50px;
    padding-bottom: 20px;
    display: block;
}
pre{
    width:80%;
    margin: 5px auto;
}
#file_list{
    width: 80%;
    margin: 5px auto;
    padding: 0;
}
#file_list .panel-heading{
    margin: 0 0 10px;
}
#file_list th, #file_list td{
    line-height: 35px;
}
.alert{
    display: none;
    margin: 20px auto;
    width: 80%;
}